.button-container {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	flex-basis: auto;
	justify-content: center;
	padding: 0.5rem;
}

.button {
    cursor: pointer;
    height: 2rem;
	background: none;
    border: solid 1px transparent;
    border-radius: 0.3rem;
    box-shadow: 0 2px 2px -1px rgb(152 162 179 / 30%);
	background-color: #006BB4;
    border-color: #006BB4;
    color: #fff;
	font-weight: 500;
}

.button:hover {
	text-decoration: underline;
	transform: translateY(-1px);
	box-shadow: 0 4px 8px 0 rgb(54 97 126 / 15%), 0 2px 2px -1px rgb(54 97 126 / 30%);
    background-color: rgba(0,107,180,0.9);
}

.button[data-is-disabled="true"] {
	background-color: #56809c;
	color: rgb(185, 185, 185);
}

.button[data-is-disabled="true"]:hover {
	cursor: not-allowed;
}

.danger-button {
	background-color: #b40000;
    border-color: #b40000;
}

.danger-button:hover {
	background-color: rgba(180, 0, 0, 0.9);
}
