.container {
    width: 80vw;
}

/* Article */
.article-block {
    display: flex;
    padding: 0.5rem;
	justify-content: center;
}

.article-overlay[data-is-displayed="true"] {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
    flex-grow: 1;
    border-radius: 0.3rem;
    background-color: rgba(226, 231, 241, 0.7);
}

.article-overlay[data-is-displayed="false"] {
	display: none;
}

.article-overlay:hover {
	cursor: not-allowed;
}

.article {
	position: relative;
    display: flex;
    flex-grow: 1;
    border-radius: 0.3rem;
    background-color: #e2e7f1;
	
	transition: all 150ms cubic-bezier(0.694, 0.0482, 0.335, 1);
	box-shadow: 0 2px 2px -1px rgb(152 162 179 / 30%), 0 1px 5px -2px rgb(152 162 179 / 30%);
    border: 1px solid #D3DAE6;
}

.article:hover {
	box-shadow: 0 4px 8px 0 rgb(152 162 179 / 15%), 0 2px 2px -1px rgb(152 162 179 / 30%);
    transform: translateY(-2px);
}

.article-title {
    /* border: 1px solid red; */
    border-top: 1px solid #b8bec7;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: baseline;
    /* padding: 0.5rem; */
}

.error-message {
    color: #f44336;
	/* position: absolute; */
	/* z-index: 2; */
	font-size: 0.75rem;
	/* top: 1.75rem; */
    /* left: 0.25rem; */
}

.cell-image {
    padding: 0.25rem;
}

.input {
	color: inherit;
	font-weight: 500;
	/* min-width: 25rem; */
	outline: none;
	max-width: 100%;
    height: 1.5rem;
    background-color: #fbfcfd;
	border-width: 2px;
	border-color: grey;
	border-radius: 0.3rem;
	padding: 0 0.25rem;
	/* box-shadow: 0 1px 1px -1px rgb(152 162 179 / 20%), 0 3px 2px -2px rgb(152 162 179 / 20%), inset 0 0 0 1px rgb(15 39 118 / 10%); */
}

.input[data-is-empty="true"] {
	border-color: #f44336;
}

.input[data-is-empty="false"] {
	border-color: unset;
}

.button-block {
    padding: .25rem;
    background-color: #fafbfd;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}
