.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* border: 1px solid red; */
    flex-shrink: 0;
    width: 80vw;
}

.row {
    display: flex;
    flex-direction: row;
}

.min-height {
    /* height: 3rem; */
    min-height: 3rem;
    /* border: 1px solid lime; */
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Article */
.article-block {
    display: flex;
    padding: 0.5rem;
}

.article {
    display: flex;
    /* flex-direction: row; */
    flex-grow: 1;
    border: 1px solid #D3DAE6;
    border-radius: 0.3rem;
    background-color: #e2e7f1;
}

.article-title {
    /* border: 1px solid red; */
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: baseline;
    padding: 0.5rem;
}

.title-text {
    padding: 0 0.5rem;
}

.cell-image {
    /* border: 1px solid pink; */
    /* align-items: center; */
    padding: 0.25rem;
}

img {
    background-color: #fafbfd;
    padding: 0.5rem;
}

.button-block {
    padding: .25rem;
    background-color: #fafbfd;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.button {
    width: 10rem;
}

.grow1 {
    flex-grow: 1;
}

.grow0 {
    flex-grow: 0;
}

a:link { color: inherit; text-decoration: none; font-weight: 700; }
a:visited { color: inherit; }
a:active { color: inherit; }
