.icon-btn svg {
	cursor: pointer;
	background: white;
    border-radius: 0.3rem;
	font-weight: 500;
}

.icon-btn svg {
	fill: #006BB4;
}

.icon-btn[data-is-disabled="true"]:hover svg {
	cursor: not-allowed;
	transform: translateY(0);
	box-shadow: none;
}

.icon-btn[data-is-disabled="true"] svg {
	fill: #56809c;
	transform: translateY(0);
}

.icon-btn:hover svg {
	transform: translateY(-1px);
	box-shadow: 0 4px 8px 0 rgb(54 97 126 / 15%), 0 2px 2px -1px rgb(54 97 126 / 30%);
    fill: rgba(0,107,180,0.9);
}
